@media screen and (min-width:767px) and (max-width:999px) {
.hero {
    width: 100%;
    height: 80vh;
    padding: 140px 0 60px;
}

/* contact_hero */

.hero_title {
    width: 83.05085%;
    font-size: 104px;
    line-height: 91px;
}

.contact_hello_container {
    width: 74.68354%;
    padding-top: 140px;
    margin: 0 auto;
    padding-bottom: 200px;
    display: flex;
}

.section_subtitle {
    width: 48.97959%;
    margin-top: 0px;
    margin-bottom: 50px;
}
.section_subtitle h5 {
    font-size: 16px;
}

.section_subtitle_rule_contact {
    width: 37.5%;
    border-top: 1px solid white;
    margin-bottom: 20px;
}

.contact_hello_content {
    width: 66.10169%;
    margin-left: 1.69492%;
}

.contact_hello_content h3 {
    width: 74.35897%;
    font-size: 42px;
    line-height: 1.28571;
}

.contact_hello_list {
    display: flex;
    flex-direction: column;
}

.contact_hello_list li {
    width: 48.71795%;
    margin-top: 60px;
    padding-right: 1.26582%;
}

.contact_hello_list p {
    margin-bottom: 20px;
}
/* contact_list */

.contact_list_container {
    width: 83.05085%;
    padding: 0 0 80px;
    margin: 0 auto;
}

.contact_list ul {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    box-sizing: border-box;
}

.contact_list li {
    width: 50%;
    padding: 80px 50px 10px;
    min-height: 44vh;
    border-right: 1px solid black;
    border-top: 1px solid black;
    position: relative;
}
.nono1 {
    background-color: black;
    display: none;
}

.nono2 {
    background-color: black;
}

.contact_list h4 {
    font-size: 42px;
    margin-bottom: 60px;
}

.p_shot {
    font-size: 21px;
    margin-bottom: 15px;
}

.work_05_left {
    width: 25.42373%;
    padding-bottom: 25.42373%;
    background-image: url(../img/magenta-hero.gif);
    background-size: cover;
    margin-left: 16.94915%;
    margin-right: 1.66667%;
}

.work_05_right h2 {
    font-size: 72px;
}

.work_05_right p {
    color: white;
    font-family: Galaxie-Book;
    font-size: 18px;
    line-height: 30px;
    font-weight: 100;
    width: 100%;
}
}

@media screen and (max-width:767px) {
.hero {
    width: 100%;
    height: 70vh;
    padding: 120px 0 60px;
}

/* contact_hero */

.hero_title {
    width: 74.35897%;
    height: calc(70vh - 200px);
    font-size: 60px;
    line-height: 62px;
}

.contact_hello_container {
    width: 74.35897%;
    padding-top: 60px;
    margin: 0 auto;
    padding-bottom: 110px;
    display: flex;
}

.section_subtitle {
    width: 82.75862%;
    margin-top: 0px;
    margin-bottom: 50px;
}

.section_subtitle h5 {
    font-size: 14px;
}

.section_subtitle_rule_contact {
    width: 37.5%;
    border-top: 1px solid white;
    margin-bottom: 20px;
}

.contact_hello_content {
    width: 100%;
    margin-left: 0px;
}

.contact_hello_content h3 {
    width: 100%;
    font-size: 30px;
    line-height: 1.4;
}

.contact_hello_list {
    display: flex;
    flex-direction: column;
}

.contact_hello_list li {
    width: 100%;
    margin-top: 60px;
    padding-right: 1.26582%;
}

.contact_hello_list p {
    margin-bottom: 20px;
}

/* contact_list */

.contact_list_container {
    width: 100%;
    padding: 0 25px 80px;
    margin: 0 auto;
}

.contact_list ul {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    box-sizing: border-box;
}

.contact_list li {
    width: 100%;
    padding: 40px 25px;
    max-height: 57vh;
    border-right: 1px solid black;
    border-top: 1px solid black;
    position: relative;
}

.nono1 {
    background-color: black;
    display: none;
}

.nono2 {
    background-color: black;
    display: none;

}

.contact_list h4 {
    font-size: 32px;
    margin-bottom: 30px;
}

.p_shot {
    font-size: 19px;
    margin-bottom: 15px;
}
.p_email {
    min-height: 0px;
    margin-bottom: 30px;
}

.work_05 {
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.work_05>div:first-child {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 80px 0;
}

.work_05_wrap {
    width: 100%;
    display: block;
}

.work_05_left {
    width: 35.89744%;
    padding-bottom: 35.89744%;
    background-image: url(../img/magenta-hero.gif);
    background-size: cover;
    margin-left: 12.82051%;
    margin-right: 2.5641%;
    float: left;
}

.work_05_right {
    width: 74.35897%;
    margin-left: 12.82051%;
    margin-right: 2.5641%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}


.work_05_right h2 {
    font-size: 40px;
    line-height: 42px;
    margin-top: 50px;
}

.work_05_right p {
    color: white;
    font-family: Galaxie-Book;
    font-size: 18px;
    line-height: 30px;
    font-weight: 100;
    width: 100%;
}
}